<div class="container">
  <mat-card-title class="mat_title">{{ matTitle }}</mat-card-title>
  <mat-card-content>
    <form
      class="add_form"
      [formGroup]="addZooKeeperFormGroup"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Nume </mat-label>
        <input
          matInput
          placeholder="Numele ingrijitorului"
          formControlName="name"
        />
        <mat-error *ngIf="hasAddError('name', 'required')"
          >Nume obligatoriu</mat-error
        >
      </mat-form-field>

      <div align="center">
        <button
          color="warn"
          mat-raised-button
          class="submitButton"
          type="submit"
          [disabled]="!addZooKeeperFormGroup.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-card-content>
</div>
