<div class="card">
  <img src="https://scontent.fotp7-2.fna.fbcdn.net/v/t39.30808-6/275384873_5037939482930382_8015247159990747510_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_ohc=zbJxvTM-89sAX8jpyFh&_nc_ht=scontent.fotp7-2.fna&oh=00_AT8AK2pIHr5lH0fzfAhZ1XYl-IvT_KXKn3YiT0iszzqg5w&oe=632F7C8A" class="card-img-top" alt="Bissoft" />
  <div class="card-body">
    <h5 class="card-title">Bissoft Interview</h5>
    <p class="card-text">We are glad that you have applied to our company. We wish you good luck in solving the interview questions.</p>
    <button (click) ="goToInterview()" class="btn btn-primary">Go to interview</button>
  </div>
</div>
